doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title AJOUT D'UN TITRE | BCTITRE

  style 
    include public/css/addtitre.css


  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')


.container.register
  .row
    .col-md-3.register-left
      img(src='https://image.ibb.co/n7oTvU/logo_white.png' alt='')
      h5 AJOUTER MULTIPLES TITRE EN UN CLICK
      p  Imprter un fichier excel list(.xls) en cliquant sur le boutton import 
      form.file-input(action="/api/preview_excel_data" method="POST", enctype="multipart/form-data")
        .form-group
        label(for='xls')
        input#my_file_input.form-control-file(type='file', name="file")
        input.btnRegister(type='submit' class="btn btn-success" value='add all')
      br
      a(class="btn btn-success" href="/api/alltitres/") tous les titres


    .col-md-9.register-right
      #myTabContent.tab-content
        #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
          h3.register-heading AJOUT D'UN SEUL TITRE
          form#contactForm.mb-5(method='POST' action="/api/addtitre")
            .row.register-form
              .col-md-6
                .form-group
                  input.form-control(type='text' placeholder='Numero titre*' name='titreNumber')
                .form-group
                  input.form-control(type='text' placeholder='Nom et prénom *' name='fullName')
                .form-group
                  input.form-control(type='text' placeholder='CIN *' name='cin')
                .form-group
                  input.form-control(type='text' placeholder='ADDRESSE *' name='address')
              .col-md-6
                .form-group
                  input.form-control(type='text' placeholder='Email *' name='email')
                .form-group
                  input.form-control(type='text' name='indice' placeholder='Indice *')
                .form-group
                  input.form-control(type='text' name='city_fonc' placeholder='Conservation Foncière *')
                .form-group
                  input.form-control(type='text' name='special_indice' placeholder='Indice Spéciale *')
                input.btnRegister(type='submit' class="btn btn-success" value='Ajouter')

                

